fastapi[all]==0.111.0
sqlalchemy==2.0.30
pymysql==1.1.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.9
python-dotenv==1.0.1
pydantic==2.7.3
pydantic-settings==2.2.1
cryptography==42.0.7
pypdf==4.2.0
python-docx==1.1.2
openai==1.30.1
